ul#nav {
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 10px;
}

ul#nav li {
    background: #bdf url(../images/tabs.gif);
    float: left;
    margin: 0 8px 0 8px;
    padding-left: 10px;
	font-weight: bold;
	
}

ul#nav a {
    background: url(../images/tabs.gif) 100% 0;
    color: #04234A;
    float: left;
    line-height: 2em;
    padding-right: 10px;
    text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	position: relative;
}

ul#nav li.current {
    background-color: #48f;
    background-position: 0 -60px;
}

ul#nav li.current a {
    background-position: 100% -60px;
    color: #fff;
    font-weight: bold;
}

hr {
	position: relative;
	margin-top: -14px;	
	color: #94afca;
}